#main {
    margin-top: 290px;
    padding-right: 175px;
    padding-left: 260px;
    padding-bottom: 60px;
    padding-top: 20px;
    background-color: #ffffff;
    position: absolute;
    width: 1000px;
    border: 10px solid rgba(255,255,255,0.4);
}

#intro > ul.cms_module_menu

	{
    visibility: visible;
    position: relative;
    left: px;
    top: 100px;
    display: block;
    height: 24.45px;
    width: 1070px;
    margin: 0px;
    padding: 2px 3px 3px;
    float: none;
}
