/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2019, 4:09:09 PM
    Author     : jcppoulard
*/

.vwala {
    font-size: 40px;
    color: blueviolet;
}