<!-- $Id: record_extended_display.tpl.html,v 1.77.2.1 2017-10-27 08:13:05 cgil Exp $ -->
{% block css_style %}
	<style type="text/css">
		
	</style>
{% endblock %}
<div id="noticeNot">
	<div class="parentNot">
		<div id="blocNotice_descr">
			
			<!-- Affichage des onglets d'enrichissement -->
			{% if record.enrichment_sources %}
				<ul id="onglets_isbd_public{{ record.id }}" class="onglets_isbd_publicNot">
					<li id="onglet_detail{{ record.id }}" class="isbd_public_active"><a href="#" onclick="display_tab(this, 'detail', {{ record.id }}); return false;"><span>{{ msg.demandes_action_detail }}</span></a></li>
					{% if record.onglets_perso%}
						{% for onglet in record.onglets_perso %}
							{{ onglet.onglet_title }}
						{% endfor %}				
					{% endif %}	
				</ul>
			{% else %}
				{% if record.onglets_perso%}
					<ul id="onglets_isbd_public{{ record.id }}" class="onglets_isbd_publicNot">
						<li id="onglet_detail{{ record.id }}" class="isbd_public_active"><a href="#" onclick="display_tab(this, 'detail', {{ record.id }}); return false;"><span>{{ msg.demandes_action_detail }}</span></a></li>
							{% for onglet in record.onglets_perso %}
								{{ onglet.onglet_title }}
							{% endfor %}	
					</ul>
				{% endif %}
			{% endif %}
			{% block record_map %}
				{% if record.map.map %}
					<div class="map_notice">
						{{ record.map.map }}
					</div>
				{% endif %}
			{% endblock %}
			
			<!-- div conteneurs des onglets perso -->
			{% for onglet in record.onglets_perso %}
				{{ onglet.onglet_content }}
			{% endfor %}
			
			<!-- div conteneur des enrichissements -->
			<div id="div_detail{{ record.id }}">
				{% block record_aside_content %}
					<div class="asideContentNot">
					{% block record_picture %}
						{% if record.picture_url %}
							<!-- Vignette de la notice -->
							<div class="vignetteimgNot">
								<div class="vignetteDocNot">
									<img class="vignetteNot" src="{{ record.picture_url }}" title="{{record.picture_title}}" />
								</div>
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_statut_not %}
						{% if record.statut_notice %}
							<!-- Staut de la notice -->
							<div class="statutNot">
								<span class="labelStatutNot">{{ record.statut_notice }}</span>
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_social_network %}
						{% if global.opac_show_social_network %}
							<!-- Reseaux sociaux -->
							<div class="socialNetworkN">
								{{ record.display_social_network }}
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_cart %}
						{% if record.cart_allow %}
							<!-- Ajouter au panier -->
							<div id="record_container_{{ record.id }}_cart" class="onglet_basketNot">
								{% if record.in_cart %}
									<a href="./index.php?lvl=show_cart" class="img_basketNot" title="{{ msg.notice_title_basket_exist }}">
										<span class="icon_basketNot"><img src="{{ img.record_in_basket.png }}" border="0" alt="{{ msg.notice_title_basket_exist }}" /></span>
										<span class="label_basketNot">{{ msg.notice_title_basket_exist }}</span>
									</a>
								{% else %}
									<a href="cart_info.php?id={{ record.id }}&amp;header={{ record.tit1 | urlencode }}" title="{{ msg.record_display_add_to_cart }}" target="cart_info" class="img_basketNot">
										<span class="icon_basketNot"><img src="{{ img.white_basket.png }}" border="0" alt="{{ msg.record_display_add_to_cart }}"/></span>
										<span class="label_basketNot">{{ msg.record_display_add_to_cart }}</span>
									</a>
								{% endif %}
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_new %}
						{% if record.new %}
							<!-- Statut particulier (nouveaute)-->
							<div class="statutPartN">
								<span class="imgStatutPartN"><img class="imgStatutPartN" src="{{ img.new_w.png }}" border="0" alt="{{ msg.record_display_new }}"/></span><span class="StatutPartN">{{ msg.record_display_new }}</span>
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_avis %}
						{% if record.avis_allowed %}
							{% if global.opac_avis_display_mode == 0 %}
								<!-- Avis sur la notice -->
								<div class="avisN">
									<span class="ExtnotCom imgComment"><img class="imgComment" src="{{ img.comment_w.png }}" border="0" alt="Commentaires"/></span><span class="avisN">{{ record.display_avis | safe }}</span>
								</div>
							{% endif %}
						{% endif %}
					{% endblock %}
					{% block record_tag %}
						{% if record.tag_allowed %}
							<!--  Tag sur la notice -->
							<div class="tagsN">
								<span class="ExtnotCom imgTag"><img class="imgTag" src="{{ img.tag_w.png }}" border="0" alt="Tags"/></span><span class="tagsN">{{ record.display_tag }}</span>
							</div>
						{% endif %}
					{% endblock %}
					{% block record_suggestion %}
						{% if record.sugg_allowed %}
							<!--  Suggestion sur la notice -->
							<div class="suggestN">
								<span class="ExtnotCom imgSuggest"><img class="imgSuggest" src="{{ img.suggest_w.png }}" border="0" alt="Suggestions"/></span><span class="suggestsN">{{ record.display_suggestion }}</span>
							</div>
						{% endif %}
					{% endblock %}
					{% block record_liste_lecture %}
						{% if record.liste_lecture_allowed %}
							<!--  Associer la notice a une liste de lecture -->
							<div class="listeLectureN">
								{{ record.display_liste_lecture }}
							</div>
						{% endif %}
					{% endblock %}
					
					{% block record_permalink %}
						{% if global.opac_permalink %}
							<!-- Permalink -->
							<div class="lienP">
								<span class="img_permalink"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
								<span class="label_permalink"><a href="{{ record.permalink }}" title="{{ msg.record_display_permalink_label }}">{{ msg.record_display_permalink_label }}</a></span>
							</div>
						{% endif %}
					{% endblock %}
					</div>
				{% endblock %}
				
				{% block record_external_picture %}
					{% if record.external_parameters.vignette %}
						<!-- Sortie externe - Vignette de la notice -->
						{% if record.picture_url %}
							<!-- Vignette de la notice -->
							<div class="vignetteimgNot">
								<div class="vignetteDocNot">
									<img class="vignetteNot" src="{{ record.picture_url }}" title="{{record.picture_title}}" />
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endblock %}
				
				<!-- Contenu de la notice -->
				<div class="notice_contenu">
					{{ record.display_coins_span | safe }}
					{% block record_content %}
						<table class="descr_notice">
							<tbody>
								{% block record_tit1 %}
									<tr class="record_tit1">
										<td class="labelNot">
											<span>{{ msg.tit1display_start }}</span>
										</td>
										<td class="labelContent">
											<span id="exempl_titleNot">{{ record.tit1 }}{% if record.tit4 %} : {{record.tit4}}{% endif %}</span>
										</td>
									</tr>
								{% endblock %}
								
								{% block record_tit3 %}
										{% if record.tit3 %}
											<tr class="record_tit3">
												<td class="labelNot">
													<span>{{ msg.other_title_t3_start }}</span>
												</td>
												<td class="labelContent">
													<span id="exempl_title3Not">{{ record.tit3 }}</span>
												</td>
											</tr>
										{%endif%}
								{% endblock %}
								
								{% block record_tit2 %}
										{% if record.tit2 %}
											<tr class="record_tit2">
												<td class="labelNot">
													<span>{{ msg.other_title_t2_start }}</span>
												</td>
												<td class="labelContent">
													<span id="exempl_title3Not">{{ record.tit2 }}</span>
												</td>
											</tr>
										{%endif%}
								{% endblock %}
								
								{% block record_relations_up %}
									{% for relation in record.relations_up %}
										{% if relation.relation_type !="b" %}
											<tr class="record_relation_up">
												<td class="labelNot">
													<span>{{ relation.label }} :</span>
													
												</td>
												<td class="labelContent">
													<ul>
														{% for parent in relation.parents %}
															<li><a href="{{ parent.get_permalink }}" title="{{ parent.tit1 }}">{{ parent.tit1 }}</a></li>
														{% endfor %}
													</ul>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% endblock %}
								
								{% block record_serie %}
									{% if record.serie.id %}
										<tr class="record_serie">
											<td class="labelNot">
												<span>{{ msg.tparent_start }}</span> <!-- Serie -->
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_serie | replace '!!id!!' record.serie.id }}">{{ record.serie.name }}</a>{% if record.tnvol %}, {{ record.tnvol }}{% endif %}</span>
											</td>
										</tr>
									{% else %}
										{% if record.tnvol %}
											<tr class="record_serie">
												<td class="labelNot">
													<span>{{ msg.tnvol_start }}</span>
												</td>
												<td class="labelContent">
													<span>{{ record.tnvol }}</span>
												</td>
											</tr>
										{% endif %}
									{% endif %}
								{% endblock %}
								
								{% block record_responsabilites %}
									{% for auteur in record.responsabilites.auteurs %}
										{% if loop.first %}
											<tr class="record_responsabilites">
												<td class="labelNot">
													<span>{{ msg.auteur_start }}</span>
												</td>
												<td class="labelContent">
													<span>
										{% else %}
										 ; 
										{% endif %}
										<a href="{{ record.liens_opac.lien_rech_auteur | replace '!!id!!' auteur.id }}" title="{{ auteur.auteur_titre }}">{{ auteur.auteur_titre }}</a>{% if auteur.fonction_aff %}, {{ auteur.fonction_aff }}{% endif %}
										{% if loop.last %}
													</span>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% endblock %}
																
								{% block record_tdoc %}
									{% if record.tdoc %}
										<tr class="record_tdoc">
											<td class="labelNot">
												<span>{{ msg.typdocdisplay_start }}</span> <!-- Type de document-->
											</td>
											<td class="labelContent">
												<span>
													{% if record.niveau_biblio == 'm' %}
														{{ record.tdoc }}
													{% else %}
														{{ record.biblio_doc }}{% if record.biblio_doc != record.tdoc %} : {{ record.tdoc }}{% endif %}
													{% endif %}
												</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_mention %}
									{% if record.mention_edition %}
										<tr class="record_mention">
											<td class="labelNot">
												<span>{{ msg.mention_edition_start }}</span>
											</td>
											<td class="labelContent">
												<span>
														{{ record.mention_edition }}
												</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_bul_info %}{% endblock %}
								
								{% block record_publishers %}
									{% if record.publishers.0.isbd_entry %}
										<tr class="record_publishers">
											<td class="labelNot">
												<span>{{ msg.editeur_start }}</span> <!-- Edition, Annee-->
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_editeur | replace '!!id!!' record.publishers.0.id }}">{{ record.publishers.0.isbd_entry }}</a>{% if record.year %}, {{ record.year }}{% endif %}</span>
											</td>
										</tr>
									{% else %}
										{% if record.year %}
											<tr class="record_year">
												<td class="labelNot">
													<span>{{ msg.year_start }}</span> <!-- Annee edition -->
												</td>
												<td class="labelContent">
													<span>{{ record.year }}</span>
												</td>
											</tr>
										{% endif %}
									{% endif %}
								{% endblock %}
								
								{% block record_other_publishers %}
									{% if record.publishers.1.isbd_entry %}
										<tr class="record_other_publishers">
											<td class="labelNot">
												<span>{{ msg.other_editor }}</span> <!-- Edition, Annee-->
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_editeur | replace '!!id!!' record.publishers.1.id }}">{{ record.publishers.1.isbd_entry }}</a></span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_npages %}{% endblock %}
								
								{% block record_titre_uniforme %}
									{% for tu_data in record.titre_uniforme.ntu_data %}
										{% if loop.first %}
											<tr class="record_titre_uniforme">
												<td class="labelNot">
													<span>{{ msg.titre_uniforme_aff_public }}</span><!-- Titre uniforme -->
												</td>
												<td class="labelContent">
										{% endif %}
										<p>
											<a href="{{ record.liens_opac.lien_rech_titre_uniforme | replace '!!id!!' tu_data.num_tu }}">{% if tu_data.tu.isbd %}{{ tu_data.tu.isbd }}{%else%}{{tu_data.tu.name}}{%endif%}</a>
											{% if tu_data.date %}<span class="tu_date">{% if !tu_data.tu.name %}: {% else %}; {% endif %}{{tu_data.date}}</span>{% endif %}
											{% if tu_data.sous_vedette %}<span class="tu_sous_vedette">{% if !tu_data.date %}{% if !tu_data.tu.name %}: {% else %}; {% endif %}{% else %}; {% endif %}{{tu_data.sous_vedette}}</span>{% endif %}
											{% if tu_data.langue %}<span class="tu_langue">{% if !tu_data.sous_vedette %}{% if !tu_data.date %}{% if !tu_data.tu.name %}: {% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{{tu_data.langue}}</span>{% endif %}
											{% if tu_data.version %}<span class="tu_version">{% if !tu_data.langue %}{% if !tu_data.sous_vedette %}{% if !tu_data.date %}{% if !tu_data.tu.name %}: {% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{{tu_data.version}}</span>{% endif %}
											{% if tu_data.mention %}<span class="tu_mention">{% if !tu_data.version %}{% if !tu_data.langue %}{% if !tu_data.sous_vedette %}{% if !tu_data.date %}{% if !tu_data.tu.name %}: {% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{% else %}; {% endif %}{{tu_data.mention}}</span>{% endif %}											
										</p>
										{% if loop.last %}
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% endblock %}
								
								{% block record_collection %}
									{% if record.collection.isbd_entry %}
										<tr class="record_collection">
											<td class="labelNot">
												<span>{{ msg.coll_start }}</span>
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_collection | replace '!!id!!' record.collection.id }}">{{ record.collection.isbd_entry }}</a>{% if !record.subcollection.isbd_entry %}{% if record.nocoll %}, num. {{ record.nocoll }}{% endif %}{% endif %}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_subcollection %}
									{% if record.subcollection.isbd_entry %}
										<tr class="record_subcollection">
											<td class="labelNot">
												<span>{{ msg.subcoll_start }}</span>
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_subcollection | replace '!!id!!' record.subcollection.id }}">{{ record.subcollection.name }}</a>{% if record.nocoll %}, num. {{ record.nocoll }}{% endif %}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_code %}
									{% if record.code %}
										<tr class="record_code">
											<td class="labelNot">
												<span>{{ msg.code_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.code }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_size %}
									{% if record.display_size %}
										<tr class="record_size">
											<td class="labelNot">
												<span>{{ msg.size_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.display_size }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_accomp %}
									{% if record.accomp %}
										<tr class="record_accomp">
											<td class="labelNot">
												<span>{{ msg.accomp_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.accomp }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_n_gen %}
									{% if record.n_gen %}
										<tr class="record_n_gen">
											<td class="labelNot">
												<span>{{ msg.n_gen_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.n_gen }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_langues %}
									{% if record.langues.langues %}
										<tr class="record_langues">
											<td class="labelNot">
												<span>{{ msg.langues_start }}</span>
											</td>
											<td class="labelContent">
												{% for langue in record.langues.langues %}
													{% if loop.first%}
														<span>{{langue.langue}}</span>
													{% else %}
														{{global.pmb_keyword_sep}} <span>{{langue.langue}}</span>
													{% endif %}
												{% endfor %}
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_langues_org %}
									{% if record.langues.languesorg %}
										<tr class="record_langues_org">
											<td class="labelNot">
												<span>{{ msg.langues_org_start }}</span>
											</td>
											<td class="labelContent">
												{% for langue in record.langues.languesorg %}
													{% if loop.first%}
														<span>{{langue.langue}}</span>
													{% else %}	
														{{global.pmb_keyword_sep}} <span>{{langue.langue}}</span>
													{% endif %}
												{% endfor %}
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_concepts %}
									{% if record.concepts_list.concepts %}
										<tr class="record_concepts">
											<td class="labelNot">
												<span>{{ msg.concepts_start }}</span>
											</td>
											<td class="labelContent">
												{% for concept in record.concepts_list.concepts %}
												    {% if !loop.first %}
														{% if global.thesaurus_concepts_concept_in_line == "0" %}
															<br />
														{% else %}
															{{global.pmb_keyword_sep}}
														{% endif %}
												    {% endif %}
												    <a href="{{concept.permalink}}" title="{{concept.display_label}}">{{concept.display_label}}</a>
												{% endfor %}
											</td>
										</tr>
									{%endif%}
								{% endblock %}
								
								{% block record_indexint %}
									{% if record.indexint %}
										<tr class="record_indexint">
											<td class="labelNot">
												<span>{{ msg.indexint_start }}</span>
											</td>
											<td class="labelContent">
												<span><a href="{{ record.liens_opac.lien_rech_indexint | replace '!!id!!' record.indexint.indexint_id }}">{{ record.indexint.display }}</a></span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_categories %}
									{% for id_thes,thesaurus in record.categories %}
										{% if global.opac_thesaurus %}
											{% if loop.first %}
												<tr class="record_categories">
													<td class="labelNot">
														<span>{{ msg.categories_start }}</span>
													</td>
													<td class="labelContent">
											{% endif %}
											{% for categorie in thesaurus %}
												{% if global.opac_categories_categ_in_line %}
													{% if loop.first %}
														<p><strong>{{ categorie.object.thes.libelle_thesaurus }}</strong></p>
													{% else %}
														{{ global.pmb_keyword_sep }}
													{% endif %}
													<span><a href="{{ record.liens_opac.lien_rech_categ | replace '!!id!!' categorie.object.id }}" {% if global.opac_show_infobulles_categ %}title="{{ categorie.object.comment }}"{% endif %}>{{ categorie.format_label }}</a></span>
												{% else %}
													<p>[{{ categorie.object.thes.libelle_thesaurus }}] <a href="{{ record.liens_opac.lien_rech_categ | replace '!!id!!' categorie.object.id }}">{{ categorie.object.libelle }}</a></p>
												{% endif %}
											{% endfor %}
											{% if loop.last %}
													</td>
												</tr>
											{% endif %}
										{% else %}
											{% if id_thes == global.opac_thesaurus_defaut %}
												<tr class="record_categories">
													<td class="labelNot">
														<span>{{ msg.categories_start }}</span>
													</td>
													<td class="labelContent">
												{% for categorie in thesaurus %}
													{% if global.opac_categories_categ_in_line %}
														{% if !loop.first %}
															{{ global.pmb_keyword_sep }}
														{% endif %}
														<span><a href="{{ record.liens_opac.lien_rech_categ | replace '!!id!!' categorie.object.id }}">{{ categorie.object.libelle }}</a></span>
													{% else %}
														<p><a href="{{ record.liens_opac.lien_rech_categ | replace '!!id!!' categorie.object.id }}">{{ categorie.object.libelle }}</a></p>
													{% endif %}
												{% endfor %}
														</td>
													</tr>
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endblock %}
								
								{% block record_motes_cles %}
									{% if record.mots_cles %}
										<tr class="record_mots_cles">
											<td class="labelNot">
												{% if global.opac_allow_add_tag == "0" %}
													<span>{{ msg.keywords_start }}</span>
												{% else %}
													<span>{{ msg.tags }}</span>
												{% endif %}
											</td>
											<td class="labelContent">
												{% for mot in record.mots_cles %}
													{% if loop.counter!=1 %}
														{{global.pmb_keyword_sep}}
													{% endif %}
													<a href="./index.php?lvl=more_results&mode=keyword&user_query={{mot}}&tags=ok"> {{mot}} </a> 
												{% endfor %}
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_resume %}
									{% if record.resume %}
										<tr class="record_resume">
											<td class="labelNot">
												<span>{{ msg.n_resume_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.resume | nl2br }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_contenu %}
									{% if record.contenu %}
										<tr class="record_contenu">
											<td class="labelNot">
												<span>{{ msg.n_contenu_start }}</span>
											</td>
											<td class="labelContent">
												<span>{{ record.contenu | nl2br }}</span>
											</td>
										</tr>
									{% endif %}
								{% endblock %}
								
								{% block record_p_perso %}
									{% for cp in record.p_perso %}
										<tr class="record_p_perso">
											<td class="labelNot">
												<span>{{ cp.TITRE_CLEAN }} :</span>
											</td>
											<td class="labelContent">
												<span>{{ cp.AFF }}</span>
											</td>
										</tr>
									{% endfor %}
								{% endblock %}
								
								{% block record_lien %}
									{% if record.lien %}
										   <tr class="record_lien">
										   		<td class="labelNot">
										   			<span>{{ msg.lien_start }}</span>
										   		</td>
										   		<td class="labelContent">
										   			<span><a href="{{record.lien}}" target="_blank" title="{{msg.open_link_url_notice}}">{{ record.lien }}</a></span>
										   		</td>
										   </tr>
										{% endif %}
								{% endblock %}
								
								{% block record_relations_both %}
									{% for relation in record.relations_both %}
										{% if relation.relation_type!="b"%}		
											<tr class="record_relation_both">
												<td class="labelNot">
													<span>{{ relation.label }} :</span>
												</td>
												<td class="labelContent">
													<ul>
														{% for child in relation.children %}
															<li><a href="{{ child.get_permalink }}" title="{{ child.tit1 }}">
																{% if child.serie %}<span class="serie_reldown">{{ child.serie.name }}{% if child.tnvol %}, {{ child.tnvol }}. {% endif %}</span>{% endif %}
																{% if child.bul_info.title %}<span class="bulinfo_reldown">{{ child.bul_info.title }}, </span>{% endif %}
																<span class="title_reldown">{{ child.tit1 }}</span>
																{% if child.auteurs_principaux %}<span class="auteur_reldown"> / {{ child.auteurs_principaux }}</span>{% endif %}
																{% if child.year %}<span class="date_reldown"> ({{ child.year }})</span>{% endif %}
															</a></li>
														{% endfor %}
													</ul>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% endblock %}
								
								{% block record_relations_down %}
									{% for relation in record.relations_down %}
										{% if relation.relation_type!="b"%}		
											<tr class="record_relation_down">
												<td class="labelNot">
													<span>{{ relation.label }} :</span>
												</td>
												<td class="labelContent">
													<ul>
														{% for child in relation.children %}
															<li><a href="{{ child.get_permalink }}" title="{{ child.tit1 }}">
																{% if child.serie %}<span class="serie_reldown">{{ child.serie.name }}{% if child.tnvol %}, {{ child.tnvol }}. {% endif %}</span>{% endif %}
																{% if child.bul_info.title %}<span class="bulinfo_reldown">{{ child.bul_info.title }}, </span>{% endif %}
																<span class="title_reldown">{{ child.tit1 }}</span>
																{% if child.auteurs_principaux %}<span class="auteur_reldown"> / {{ child.auteurs_principaux }}</span>{% endif %}
																{% if child.year %}<span class="date_reldown"> ({{ child.year }})</span>{% endif %}
															</a></li>
														{% endfor %}
													</ul>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								{% endblock %}
							</tbody>
						</table>
					{% endblock record_content %}
				</div>
			</div>
		</div>
		<div class="clear"></div>
		{% block record_resa %}
			{% if record.availability.availability != 'none' %}
				{% if record.availability.availability != 'empty' %}
					<!-- Bouton de reservation -->
					{% if record.resas_datas.flag_resa_visible %}
						{% if record.resas_datas.flag_resa_possible %}
							{% if !record.resas_datas.flag_max_resa %}
								<div id="resa_notice">
									<a href="{{ record.resas_datas.href }}" onclick="{{ record.resas_datas.onclick }}" id="bt_resa_NotCourte">{{ msg.record_display_expl_reserve }}</a>
									{% if record.resas_datas.nb_resas %}
										<p class='record_nb_resas'>{{ msg.resa_nb_deja_resa | replace '!!nbresa!!' record.resas_datas.nb_resas }}</p>
									{% endif %}
								</div>
								<div class='clear'></div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endblock %}
			
		{% block articles %}
		{% endblock articles %}
		
		{% block record_expl %}
			{% if record.availability.availability != 'none' %}
				<!-- Exemplaire -->
				<div id="zone_exemplaires">
					{{ record.display_expl_responsive_list }}
				</div>
			{% endif %}
		{% endblock %}
		
		{% block record_perio_options %}
			{% if record.niveau_biblio == 's' %}
			      {{record.display_links_for_serials}}
			{% endif %}
		{% endblock %}
		
		{% block record_collstate %}
			{% if record.niveau_biblio == 's' %}
				{% if record.niveau_hierar == 1 %}
					{{ record.display_collstate }}
				{% endif %}
			{% endif %}
		{% endblock %}
		
		{% block record_explnums %}
			<div id="docnum">
				{{ record.display_explnums }}
			</div>
		{% endblock %}
		
		{% block record_other_readings %}
			{{ record.display_other_readings }}
		{% endblock %}
		
		{% block scan_request %}
			{% if record.display_scan_request %}
				<div class="scan_request">
					<h3>{{msg.record_numerisation}}</h3>
					{{ record.display_scan_request }}
				</div>
			{% endif %}
		{% endblock %} 
		
		{% block record_avis_detail %}
			{% if record.avis_allowed %}
				{% if global.opac_avis_display_mode == 1 %}
					{{ record.display_avis_detail }}
				{% endif %}
			{% endif %}
		{% endblock %}
		
		{% block record_simili_search %}
			{% if global.opac_allow_simili_search %}
				{{ record.display_simili_search }}
			{% endif %}
		{% endblock %}
		
		{% block record_serialcirc_form_actions %}
			{% if global.opac_serialcirc_active %}
				{% if global.id_empr %}
					{% if global.allow_serialcirc %}
						{{ record.display_serialcirc_form_actions }}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endblock %}
	</div>
</div>