/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2018, 10:31:43 PM
    Author     : jcppoulard
*/

.datepicker > div {
    display: inherit;
}

#navbar-extensions {
    background: #B5BCC7;
}

.ere-koule{
    background: #FFEEEE;
}

.chwa-location{
    padding-top: 20px;
}

.zon-sezi{
    padding: 5px;
}


.ShowHide {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1963D1;
  color: #FFFFFF;
  padding:4px;
}
#left {
  overflow: hidden;
  text-align: center;
  height: 20px;
}
#right {
  float: right;
  width: 30px;
  height: 20px;
  text-align: center;
}
.ShowHide a {
   color: #FFFFFF;
   text-decoration: none;
}
.ShowHide a:hover {
   text-decoration:underline;
}

.dwat{
    float: right;
    text-align: right;
}
